<header class="header">
    <div class="header__container">
        <!-- Left corner: Logo and Brand Name -->
        <div class="header__left">
            <a href="/" class="header__brand">📖 LIBRARY</a>
        </div>
        
        <!-- Middle: Navigation Links -->
        <nav class="header__middle">
            <ul class="header__nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </nav>
        
        <!-- Right corner: Register and Login Links -->
        <div class="header__right">
            <!-- Show user information and Logout link when the user is logged in -->
            <ng-container *ngIf="isLoggedIn(); else showLoginAndRegister">
              <a class="header__auth" (click)="openRegisterDialog()">Hello {{ getUserName() }}</a>
              <a class="header__auth" (click)="onLogout()">Logout</a>
            </ng-container>
            
            <!-- Show Register and Login links when the user is not logged in -->
            <ng-template #showLoginAndRegister>
              <a class="header__auth" (click)="openRegisterDialog()">Register</a>
              <a class="header__auth" (click)="openLoginDialog()">Login</a>
            </ng-template>
          </div>
    </div>
</header>
