<footer class="footer">
    <div class="footer__container">
        <div class="footer__info">
            <p>© 2023 Your Web App. All rights reserved.</p>
            <p>Contact: info@yourwebapp.com</p>
        </div>
    
        <div class="footer__social">
            <a href="#" class="footer__social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="footer__social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="footer__social-icon"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
  </footer>
  